main {
    margin: 0 auto;
    width: 1000px;
}

.tabcontrol {
    list-style: none;
    overflow: hidden;
    margin-bottom: 20px;
    text-align: center;
    font-size: 17px;
}

.prev {
    float: left;
    background: #000000;
    color: white;
    width: 100px;
    padding: 10px 0px;
}

.next {
    float: right;
    background: #000000;
    color: white;
    width: 100px;
    padding: 10px 0px;
}

.prev:hover {
    background: #ccc;
    opacity: 0.8;
    color: black;
    text-decoration: none;
}

.next:hover {
    background: #ccc;
    opacity: 0.8;
    color: black;
    text-decoration: none;
}

.tabMenuItem:hover {
    background: #ccc;
    text-decoration: none;
    opacity: 0.8;
    color: black;
}

.tabMenu {
    overflow: hidden;
    list-style: none;
    width: 1000px;
    font-size: 25px;
}

.tabMenuItem:last-child {
    border-right: none;
}

.tabMenuItem {
    float: left;
    background: #000000;
    color: white;
    width: 250px;
    text-align: center;
    height: 80px;
    line-height: 80px;
    border-right: 2px solid white;
    box-sizing: border-box;
}

.tabMenuItem.on {
    background: #ccc;
    color: black;
}

.tabItem {
    margin-bottom: 30px;
    padding: 20px;
    font-size: 20px;
    background: #ccc;
    display: none;
}

.tabItem.on {
    background: #ccc;
    display: block;
}

.tabContents {
    margin-top: 50px;
}

h1 {
    margin-bottom: 30px;
}

h2 {
    margin-bottom: 20px
}
